/* Miguh's Site Styles*/
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("http://fonts.googleapis.com/css?family=Lato");
*
	margin 0
a
	text-decoration none
body
	background #FCFCFC
	font-family "Open Sans"
	font-size 16px
	position relative
nav
	position fixed
nav .logo
	font-family "Lato"
nav ul
	position absolute
	right 0
.contact_redirect
	background #147A8F
	font-weight 300
	height 2.5em
	margin 0 auto
	margin-top 1em
	padding 0
	position relative
	width 150px
.contact_redirect:hover
	background #0B3E46
.contact_redirect a
	color white
	position absolute
	left .5em
	top 0.4em
	text-align center
	text-decoration none
	text-transform uppercase
.course
	margin-bottom 2em
	position relative
.course_description
	position absolute
	top 3em
	left 6em
.course_infobtn
	background #309300
	bottom -3em
	height 35px
	position absolute
	right 2.5em
	width 100px
.course_infobtn:hover
	background #1E5B00
.course_infobtn_link
	color white
	margin-left 15px
	position absolute
	text-decoration none
	text-transform uppercase
	top .4em
.course_photo
	margin-left .2em
.course_title
	font-family "Open Sans"
	font-weight 800
	position absolute
	top 1em
	left 6em
.disabled
	display none
.edu
	margin-bottom 3em
	position relative
.edu h2
	margin-top 1em
	text-align center
	text-transform uppercase
.finished
	border-left 1px solid black
	position absolute
	top 2em
	right 0
	width 49%
.finished .course
	margin-left 1em
.item_link
	color white
	font-family "Lato"
	font-size 1.1em
	text-decoration none
.link_list
	position absolute
	top 1em
	right 5em
.menu
	background black
	color white
	height 50px
	position relative
.menu_item:first_child
	border 0
.menu_item
	display inline-block
	list-style none
	margin-right 1em
.menu_item:after
	color white
	content " |  "
.menu_item:last-child:after
	content ""
.menu_item:hover
	border-top 5px solid orange
.name
	font-size 1.3em
	margin-left 1em
	padding-top .5em
.now
	height 720px
	margin 0px
	width 49%
.principal_phrase
	background: url("../principal.jpg");
	background-position center
	color white
	font-size 1.2em
	height 250px
.principal_phrase h2
	margin 0 0 0.2em 0
	text-align center
.principal_text
	padding-top 2em
.proyect
	height 350px
	margin-top 6em
	position relative
	width 350px
.proyect_info
	background #1D297F
	bottom 0
	height 50px
	position absolute
	width 350px
.proyect_info p
	color white
	margin-top .8em
	text-align center
.proyects
	background #064780
	display flex
	justify-content space-around
	/*For the moment*/
	height 500px
.proyects h2
	color white
	height 1em
	padding 1em 0
	text-align center
	text-transform uppercase
.whoiam
	color orange
	font-size .5em
	position absolute
	text-transform uppercase
	top 1.5em
	left 16em