bar
	background-color #00265A

a
	color white
	display block
	font-family Open Sans
	font-weight 600
	line-height 50px
	margin 3.5px
	text-align center
	text-decoration none
	text-transform uppercase
	transition .2s background

display-menu
	position absolute

figure
	height 36px
	margin  7px 0 0 0
	weight 158px

icon-menu
	color white
	display block
	font-size 16px
	right 10px
	top 10px

img
	height 36px
	margin 0px
	weight 158px